:root {
    --color_primario: #c37a27fd;
    --color_primario_suave: #080609d5;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}
.logo     {
     width: 80px; 
      height: auto;
     }

.labe_hamburguesa {
}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all .3s;
}

.text {
    margin-left: 10em;
    margin-right: 10em;
}

.imgLogo {
    width: 300px;
}

.li_links {
}
.link {
    font-size: 3em;
    color: var(--color_blanco);
    font-weight: bold;
}

.bodyIndex {
    text-align: center;
}

.menfooter{
    background-color: rgb(58, 68, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100px;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.mFootElement {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
}

.mFootElement:hover {
    opacity: 1;

}



@media (min-width:768px){
    .labe_hamburguesa {
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
    .link:hover{
        background-color: #5f1192;
    }
}


.styleformulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px; }

    label, input, button {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #45a049;
    }

    .contenedor { 
        display: flex;
        align-items: center;
        margin: 50px;
    }

    .image { 
        margin: 1em;

    }

    .textAlign {
        text-align: center;
    }

    .imgSize {
        height: 400px;
        width: 400px;
    }

    .textP {
        margin-left: 30%;
    }

    .textT {
        margin: 1em;
    }

    .bodySettings {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-direction: column; 
    }
    
.contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .buyButton {
        width: 100px; 
        height: 40px;
    }

    .cantidades {
        width: 35px;
        height: 30px;
    }

    .menu {
                 width: 250px;
         background-color: #f0f0f0; 
         padding: 10px; 
         border-radius: 5px; 
         box-shadow: 0 2px 5px rgba(0,0,0,0.1);
          
         } 
    .menu-item label {
         display: block;
          margin-bottom: 5px; 
        } 
    .menu-item select {
         width: 100%;
         } 
    .dark-mode-toggle {
         display: flex; align-items: center;
         } 
    .dark-mode-toggle label { 
        margin-right: 10px;
     } 
    .logout-btn {
         display: block; width: 100%; padding: 10px; background-color: #d9534f; color: white; text-align: center; border: none; border-radius: 5px; cursor: pointer;
         }


    
    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:checked + .slider:before {
        transform: translateX(14px);
    }
    .slider.round {
        border-radius: 20px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    